html, body {
	margin: 0 auto;
	padding: .1em;
	width: 75%;
	padding-bottom: 0;
	background-color: rgba(77, 142, 207, 0.7);
	text-align: center;
}
div {
	margin: 0 auto;
	text-align: center;
}
.btn {
	padding: 1em;
	margin: 3em;
}
.btnReset {
	padding: .5em;
	margin-top: 5em;
	background-color: rgba(196, 68, 68, 0.9);
}
.btnScores {
	padding: .5em;
	margin-top: 2em;
	background-color: buttonface;
}
header, footer, .warn, .board, .initialInput, #highScores, #gameOver {
	display: none;
}
#gameOver {
	font-size: larger;
	font-weight: bold;
}
a {
	color: inherit;
	text-decoration: underline;
}
a:hover {
	color: inherit;
	background: #ddd;
	text-decoration: none;
	border-radius: 99%;
}
table, td {
	padding: .2em;
	background-color: rgba(109, 165, 221, 0.9);
	margin: 0 auto;
	text-align: center;
}
div > table:first-of-type {
	margin-bottom: 50px;
}
caption {
	margin-bottom: 50px;
}
.friendly {
	box-shadow:0px 0px 50px 30px #598fb0 ;
}
.enemy {
	box-shadow:0px 0px 50px 30px #b06259 ;
}
td {
	border:3px ridge #29e1fd;
	min-height: 35px;
	min-width: 35px;
}
.open {
	cursor: crosshair;
}
.ship {
	border: 2px dashed #29e1fd;
}
.miss {
	background-color: #a0c0c0;
	border: none;
}
.hit {
	background-color:rgba(178, 76, 76, 0.5);
}
footer {
	height: 0px;
}
/* stackoverflow.com/a/48030340/7491839 */
.warn, #highScores {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}