html, body {
	margin: 0 auto;
	padding: 1em;
	width: 75%;
	padding-bottom: 0;
}
#main {
	text-align: center;
}
div {
	padding: 1em;
	margin: 0 auto;
	text-align: center;
}
.btn {
	padding: 1em;
	margin: 3em;
}
.warn, .board {
	display: none;
}
a {
	color: inherit;
	text-decoration: underline;
}
a:hover {
	color: inherit;
	background: #ddd;
	text-decoration: none;
	border-radius: 99%;
}

table, td {
	padding: .2em;
	background-color: rgba(109, 165, 221, 0.9);
	margin: 0 auto;
	text-align: center;
}
td {
	border:3px ridge #29e1fd;
}
footer {
	height: 1000px;
}

